.btn-operator-group {
    display: flex;
    align-content: center;
    align-items: center;
}

.btn-operator-group Button {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.question-math {
    margin-top: 50px;
    display: flex;
    align-content: center;
    align-items: center;
}

.question-math button {
    margin-left: 15px;
}

.result-math {
    width: 100px;
}