.phrase-game .letters {
    border: 1px solid #babaca;
    display: inline-flex;
    padding: 10px;
}

.phrase-game .letters .item {
    border: 1px solid #babaca;
    padding: 5px 10px;
    margin: 0 15px;
}

.phrase-game .result {
    border: 1px solid #babaca;
    display: inline-block;
    padding: 10px;
    min-width: 100px;
    min-height: 50px;
}