/* html, body, #root {
  height: 100%;
  width: 100%;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #babaca2e;
}

.page {
  display: flex;

  justify-content: center;
  height: 100%;
  min-height: 500px;
}

.page-container {
  background: #fff;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container>.row {
  width: 100%;
}

.error-box {
  color: #ff3333;
  margin-bottom: 15px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.scroll-hiden {
  overflow: hidden;
}

.scroll-x {
  overflow-x: auto;
}